/* to increase the font of the menu bar */
.dropdown-menu, nav#navbar-main li.nav-item {    font-size: 16px;   }

/* to decrease spacing on home page */
.home-section:first-of-type { padding-top: 30px; }
.home-section {     padding: 30px 0 40px 0;   }
